[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "==4.2b4"
torchvision = "*"
progressbar = "*"
unityagents = "*"
tensorboardx = "*"
scipy = "*"

[requires]
python_version = "3.6"



# If running TensorboardX shows error becasue of probuf then,
# activate the environment and
# pip install -U protobuf

