# Basic
pandas
jupyter
jupyterlab
scipy
matplotlib

# Deep learning
#tensorflow
#keras
#h5py
#keras-rl
#baselines
#tensorforce

# Open AI Gym requirements
#PyOpenGL
#piglet
#pyglet
#gym
cffi
cython

# Unity Environment
unityagents

# Other
JSAnimation
ipywidgets
jupyterthemes
progressbar
